<head>
<style>
#section {
    width:100%;
    float:left;
    padding:10px;
}
table#t01 th	{
    background-color: black;
    color: white;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
<div id="section">
<h2>Listing all articles</h2>
<p>
<%= link_to "Create a new article", new_article_path %>
</p>

<table id="t01">
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>

</table>
</div>
</body>


