<head>
<style>
#header {
    background-color:#FFC125;
    color:black;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:10%;
    float:left;
    padding:5px;
}
#section {
    width:80%;
    float:left;
    padding:10px;
}
#footer {
    background-color:#FFC125;
    color:black;
    clear:both;
    text-align:center;
   padding:5px;
}
</style>
</head>
<body>

<div id="header">
<h1>Alpha-Blog</h1>
</div>

<div id="nav">
<!-- <%= link_to 'Home', root_path %><br>
<%= link_to 'About', about_path %><br>
<%= link_to 'Alpha Blog', articles_path %> -->
</div>

<div id="section">
<h2>Showing selected article</h2>
<p>
  Title: <%= @article.title %>
</p>
<p>
  Description: <%=@article.description %>
</p>

<%= link_to "Edit this article", edit_article_path %> |
<%= link_to "Back to articles listing", articles_path %>
</div>

<div id="footer">
alpha-blog
</div>

</body>



